body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.widget-container {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  height: 92%;
  width: 92%;
}
.widget-header {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
}
.widget-content {
  font-size: 1em;
}

table#searchResultsTable {
  border: none;
  padding: 0px;
  margin: 0px;
}
tr.selectable {
  cursor: pointer;
}
tr.selected {
  background-color: #b2d4ff;
}
table#searchResultsTable td {
  border: none;
  padding: 0px;
  margin: 0px;
}
p {
  display: inline;
}
table#searchResultsTable {
  margin-top: 20px;
  width: 100%;
}
table#searchResultsTable td {
  padding: 10px;
}
div.step {
  position: absolute;
  top: 10;
}
ul#dispositionParticipants {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul#dispositionParticipants li {
  margin-top: 10px;
  margin-bottom: 15px;
  border-style: 1px solid #ccc;
}
ul#dispositionParticipants li.checked span {
  font-weight: bold;
}
